# Added by Roy
nginx/conf.d/
nginx/sites-available/
nginx/sites-enabled/
nginx/streams-available/
nginx/streams-enabled/
nginx/nginx.conf
nginx/nginx.conf*
nginx-ui/app.ini
nginx-ui/database.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pem

# postgres data
**/postgres/data/

logs/
log/
logs_telnet/

certbot/log/letsencrypt/
.DS_store
tmp/

# C extensions
*.so

# Distribution / packaging
dist/
node_modules/
*.egg-info/
src/api/Include
src/api/Scripts
src/api/*.cfg


#test files
_test.py

# venv
venv_HolyCluster/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Windows stuff:
*.msi
*.cab
*.spec
*.wixpdb

# Rust
target

docs/*.pdf
