services:
  app-test:
    build:
      context: ./backend
      dockerfile: Dockerfile.app-test
    container_name: app-test
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/app-test:/app-test
    expose:
      - "8001"

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile.api
    container_name: api
    restart: always
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/api:/api
    expose:
      - "8000"

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./nginx/log:/var/log/nginx
    environment:
      - DOMAIN=${DOMAIN}
    depends_on:
      - api

  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./certbot/log:/var/log
    entrypoint: >
      /bin/sh -c 'trap exit TERM; while :; do sleep 6h & wait $${!}; certbot renew; done'
  


