[project]
name = "backend"
version = "0.1.0"
requires-python = ">=3.13"
dependencies = []

[dependency-groups]
dev = [
    "ipdb>=0.13.13",
    "ipython>=9.7.0",
]

[tool.uv.workspace]
members = ["api", "collectors"]
