POSTGRES_IMAGE=postgres:18
POSTGRES_DB=glitchtip
POSTGRES_USER=glitchtip
POSTGRES_PASSWORD=replace-with-a-url-safe-password

VALKEY_IMAGE=valkey/valkey:9
GLITCHTIP_IMAGE=glitchtip/glitchtip:6

SECRET_KEY=replace-with-a-random-secret
EMAIL_URL=consolemail://
DEFAULT_FROM_EMAIL=glitchtip@holycluster-dev.iarc.org

GLITCHTIP_DOMAIN=https://holycluster-dev.iarc.org
GLITCHTIP_URL=https://holycluster-dev.iarc.org/errors
BASE_PATH=/errors
ALLOWED_HOSTS=holycluster-dev.iarc.org
CSRF_TRUSTED_ORIGINS=https://holycluster-dev.iarc.org
PROXY_NETWORK=holycluster-proxy

ENABLE_ADMIN=false
ENABLE_OPENAPI=false
ENABLE_USER_REGISTRATION=true
ENABLE_ORGANIZATION_CREATION=false
GLITCHTIP_ENABLE_MCP=false
GLITCHTIP_ENABLE_DUCKDB=false
GLITCHTIP_ENABLE_LOGS=false
GLITCHTIP_ENABLE_UPTIME=false
GLITCHTIP_RETENTION_DAYS=30
GLITCHTIP_FILE_RETENTION_DAYS=30
