<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <UI>
            <Dialog Id="CustomInstallDirDlg" Width="370" Height="270" Title="Holy Cluster Setup">
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes">
                    <Text Value="Choose Install Location" />
                </Control>

                <Control Id="CreateShortcutCheckbox" Type="CheckBox" X="20" Y="50" Width="200" Height="17" Property="INSTALLMENUSHORTCUT" CheckBoxValue="1" Text="Create Start Menu Shortcut" />
                <Control Id="CreateDesktopShortcutCheckbox" Type="CheckBox" X="20" Y="30" Width="200" Height="17" Property="INSTALLDESKTOPSHORTCUT" CheckBoxValue="1" Text="Create Desktop Shortcut" />

                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&lt; Back" />
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="Next &gt;" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Text="Cancel">
                    <Publish Event="SpawnDialog" Value="CancelDlg" />
                </Control>
            </Dialog>
        </UI>
    </Fragment>
</Wix>
