<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package
        Name="Holy Cluster"
        Version="$(var.Version)"
        UpgradeCode="DD2C1F58-D922-4BEF-90BD-C01652EFD082"
        Manufacturer="HolyCluster dev team"
        InstallerVersion="450"
        Compressed="yes"
    >
        <MajorUpgrade
            Schedule="afterInstallInitialize"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit."
        />

        <Upgrade Id="5A85AD3D-3294-4EB3-99EA-BFDFFE92F471">
            <UpgradeVersion Minimum="1.0.0" IncludeMinimum="yes" OnlyDetect="no" Property="PREVIOUSFOUND" />
        </Upgrade>

        <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1" />
        <Property Id="DiskPrompt" Value="Holy Cluster Installation" />

        <DirectoryRef Id="ApplicationProgramsFolder">
            <Component Id="StartMenuShortcut" Guid="E504755C-11A2-43E1-8E42-A65A121E4F50">
                <Shortcut Id="ApplicationStartMenuShortcut"
                    Name="Holy Cluster"
                    Description="Web cluster with CAT control"
                    Target="[#HolyCluster.exe]"
                    WorkingDirectory="APPLICATIONFOLDER"/>
                <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
                <RegistryValue
                    Root="HKCU"
                    Key="Software\IARC\HolyCluster"
                    Name="installed"
                    Type="integer"
                    Value="1"
                    KeyPath="yes"
                />
            </Component>
        </DirectoryRef>

        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="APPLICATIONFOLDER" Name="HolyCluster">
                <Component Id="HolyCluster.exe" Guid="EC42A25D-4307-42AA-AA73-F5F6B5321A6D">
                    <File
                        Id="HolyCluster.exe"
                        Name="HolyCluster.exe"
                        DiskId="1"
                        Source="$(var.CargoTargetBinDir)\HolyCluster.exe"
                        KeyPath="yes"
                    />
                </Component>
                <Component Id="DevServerShortcut" Guid="1E53809D-3826-40EA-A49A-5D77F7736C8F">
                    <Shortcut
                        Id="DevServerShortcut"
                        Name="HolyCluster (Dev Server)"
                        Description="Run HolyCluster with development server"
                        Target="[#HolyCluster.exe]"
                        Arguments="--dev-server"
                        WorkingDirectory="APPLICATIONFOLDER"
                    />
                    <RegistryValue
                        Root="HKCU"
                        Key="Software\IARC\HolyCluster"
                        Name="devshortcut"
                        Type="integer"
                        Value="1"
                        KeyPath="yes"
                    />
                </Component>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Holy Cluster" />
        </StandardDirectory>
        <StandardDirectory Id="DesktopFolder">
            <Component Id="DesktopShortcut" Guid="F1F6CB17-FDA9-43B3-B152-EB0C9EA4EF71">
                <Shortcut
                    Id="ApplicationDesktopShortcut"
                    Name="HolyCluster"
                    WorkingDirectory="APPLICATIONFOLDER"
                    Icon="ProductICO"
                    Advertise="no"
                    Target="[#HolyCluster.exe]"
                />
                <RemoveFolder Id="RemoveDesktopFolder" On="uninstall" />
                <RegistryValue
                    Root="HKCU"
                    Key="Software\MyCompany\MyApp"
                    Name="desktop_installed"
                    Type="integer"
                    Value="1"
                    KeyPath="yes"
                />
            </Component>
        </StandardDirectory>

        <Feature
            Id="MainApp"
            Title="Holy Cluster"
            Description="Installs all binaries and the license."
            Level="1"
            ConfigurableDirectory="APPLICATIONFOLDER"
            AllowAdvertise="no"
            Display="expand"
        >
            <Feature Id="StartMenuShortcutFeature" Title="Start Menu Shortcut" Level="1">
                <ComponentRef Id="StartMenuShortcut"/>
            </Feature>
            <Feature Id="DesktopShortcutFeature" Title="Desktop Shortcut" Level="1">
                <ComponentRef Id="DesktopShortcut" />
            </Feature>

            <ComponentRef Id="HolyCluster.exe" />
            <ComponentRef Id="DevServerShortcut" />
        </Feature>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />

        <Icon Id="ProductICO" SourceFile="wix\icon.ico" />
        <Property Id="ARPPRODUCTICON" Value="ProductICO" />
        <Property Id="INSTALLMENUSHORTCUT" Value="1" />
        <Property Id="INSTALLDESKTOPSHORTCUT" Value="1" />

        <UI>
            <ui:WixUI Id="WixUI_FeatureTree" />
        </UI>

        <WixVariable Id="WixUILicenseRtf" Value="wix/eula.rtf" />

        <!--
          Uncomment the next `WixVariable` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom banner image across
          the top of each screen. See the WiX Toolset documentation for details
          about customization.

          The banner BMP dimensions are 493 x 58 pixels.
        -->
        <!--<WixVariable Id='WixUIBannerBmp' Value='wix\Banner.bmp'/>-->

        <!--
          Uncomment the next `WixVariable` tag to customize the installer's
          Graphical User Interface (GUI) and add a custom image to the first
          dialog, or screen. See the WiX Toolset documentation for details about
          customization.

          The dialog BMP dimensions are 493 x 312 pixels.
        -->
        <!--<WixVariable Id='WixUIDialogBmp' Value='wix\Dialog.bmp'/>-->
    </Package>
</Wix>
